<div class="center">
<div class="container ">
  <div class="title">Plants</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">*Plant-ID</span>
          <input type="text" required>
        </div>
        <div class="input-box">
          <span class="details">*Plant-Name</span>
          <input type="text" required>
        </div>
        <div class="input-box">
          <span class="details">Measurement</span>
          <input type="text"  required>
        </div>
       
  
    
    <h4 style="background-color:#eee;width: 850px;">Measurement Specifics</h4>
    <hr class="style1">
    <br>
  <br>
  
  <div class="input-box">
  
  </div>
    <div class="input-box">
      <span class="details">Air Humidity Min</span>
      <input type="text" required><i class="fa fa-pencil"></i>
    </div>
  
    <div class="input-box">
      <span class="details">Air Humidity Max</span>
      <input type="text" required>
    </div>
  
    <div class="input-box">
      <span class="details">Air Temp Min</span>
      <input type="text" required>
    </div>
  
    <div class="input-box">
      <span class="details">Air Temp Max
       </span>
      <input type="text" required>
    </div>
  
    <div class="input-box">
      <span class="details">
          Soil Humidity MAX</span>
      <input type="text" required>
    </div>
  
      
      <div class="button">
        <input type="submit" value="Add">
      </div>
      </div>
    </form>
  </div>
</div>
</div>