<div class="container">

    <h4 style="background-color:#eee;">Information</h4>
    <div class="content">
      <form >
        <div class="user-details">


          <div class="input-box">
            <span class="details">*Plant-Name</span>
            <input type="text" value="{{userObj.name}}" disabled >
          
            
          </div>

          <div class="input-box">
            <span class="details">Tenant Name</span>
            <input type="text" value="{{userObj.t_name}}" disabled >
           <span></span>
            
          </div>

          <div class="input-box">
            <span class="details">User Name</span>
            <input type="text" value="{{userObj.u_name}}" disabled >
         
            
          </div>
         

          <h4 style="background-color:#eee;width: 850px;">Measurement Specifics</h4>

          <div class="input-box">
            <span class="details">Soil Humidity MIN</span>
            <input type="text" value="{{userObj.soil_humidity_min}}" disabled >
         
          </div>

          <div class="input-box">
            <span class="details">Soil Humidity MAX</span>
            <input type="text" value="{{userObj.soil_humidity_max}}" disabled >
        
          </div>


          <div class="input-box">
            <span class="details">Soil Temp MIN</span>
            <input type="text" value="{{userObj.soil_temp_min}}" disabled >
        
          </div>

          <div class="input-box">
            <span class="details">Soil Temp MAX</span>
            <input type="text" value="{{userObj.soil_temp_max}}" disabled >
           
          </div>


          <div class="input-box">
            <span class="details">Air Humidity Min</span>
            <input type="text" value="{{userObj.air_humidity_min}}" disabled >
          
          </div>

          <div class="input-box">
            <span class="details">Air Humidity Max</span>
            <input type="text" value="{{userObj.air_humidity_max}}" disabled >
      
          </div>

          <div class="input-box">
            <span class="details">EC MIN</span>
            <input type="text" value="{{userObj.ec_min}}" disabled >
           
          </div>

          <div class="input-box">
            <span class="details">EC MAX
            </span>
            <input type="text" value="{{userObj.ec_max}}" disabled >
           
          </div>

          <div class="input-box">
            <span class="details">
              Air Temp MAX</span>
              <input type="text" value="{{userObj.air_temp_max}}" disabled >
           
          </div>

          <div class="input-box">
            <span class="details">
              Air Temp MIN</span>
              <input type="text" value="{{userObj.air_temp_min}}" disabled >
              
          </div>


          <div class="input-box">
            <span class="details"> Fertilization Intervall (days)</span>
              <input type="text" value="{{userObj.fertilization_interval}}" disabled >
              <span></span>
          </div>



          <h4 style="background-color:#eee;width: 850px;"> Seasons </h4>


          <div class="input-box">
            <span class="details">Spring start</span>
            <input type="text" value="{{userObj.spring_start}}" disabled >
            
          </div>

          <div class="input-box">
            <span class="details">Autumn start</span>
            <input type="text" value="{{userObj.autumn_start}}" disabled >
            
          </div>


          <div class="input-box">
            <span class="details">Spring end</span>
            <input type="text" value="{{userObj.spring_end}}" disabled >
           
          </div>

          <div class="input-box">
            <span class="details">Autumn end</span>
            <input type="text" value="{{userObj.autumn_end}}" disabled >
           
          </div>


          <div class="input-box">
            <span class="details">Summer start</span>
            <input type="text" value="{{userObj.summer_start}}" disabled >
   
          </div>

          <div class="input-box">
            <span class="details">Winter start</span>
            <input type="text" value="{{userObj.winter_start}}" disabled >
          
          </div>

          <div class="input-box">
            <span class="details">Summer end</span>
            <input type="text" value="{{userObj.summer_end}}" disabled >
         
          </div>

          <div class="input-box">
            <span class="details">Winter end </span>
            <input type="text" value="{{userObj.winter_end}}" disabled >
            <span></span>
          </div>


          <!-- <div class="button">
            <input type="submit" (click)="onAddSubmit()" value="Add">
            <input type="submit" (click)="updateTen()" *ngIf="isEdit" value="update">
          </div> -->
        </div>
      </form>
    </div>
  </div>