<br><br>

<div class="container ">
    
    <div class="content">
      <form action="#">
        <div class="user-details">
    
      <h4 style="background-color: #eee; width: 100%;">Water Meter</h4>
      <hr class="style1">
      <br><br>

      <div class="input-box">
        <span class="details">Sensor ID</span>
        <input type="text" value="12" required>
      </div>
      <div class="input-box">
        <span class="details">Sensor Name</span>
        <input type="text" value="sensor 1" required>
      </div>
      <div class="input-box">
        <span class="details">Device </span>
        <input type="text"  value="Water Sensor" required>
      </div>
   

      
      <div class="input-box">
        <span class="details">Last Measurement</span>
        <input type="text"   value="4/15/2021, 4:00 AM"   required>
      </div>
     
    
      <div class="input-box">
        <span class="details">Water Meter ID</span>
        <input type="text" value="221" required>
      </div>

      <div class="input-box">
        <span class="details">Water Meter Init Reading</span>
        <input type="text" value="2.0" required>
      </div>

      <div class="input-box">
        <span class="details">Water Meter Init Date</span>
        <input type="text" required>
      </div>


      <div class="input-box">
        <span class="details">Water Meter Reading (in liter)</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        <span class="details">Water Meter Interval (minutes)</span>
        <input type="text" value="5" required>
      </div>


      <div class="input-box">
        <span class="details">Water Meter Usage since Init</span>
        <input type="text" required>
      </div>
  

  
       
        </div>
      </form>
    </div>
  </div>
