<!-- <nav>
  <div class="logo">
    <img src="../../assets/florja.png" routerLink="/" style="height: 50px;"  class="brand-image img-rectangle elevation-3">
</div>
<input type="checkbox" id="click">
  <label for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><a routerLink='/' ><b>Login</b>
        
    </a>
 
  </li>
    <li><a routerLink='/signup' ><b>SignUp</b>
        
    </a>
 
  </li>
</ul>
</nav> -->



<nav>
  <label class="logo"><img src="../../assets/florja.png" routerLink="/" style="height: 50px;"
      class="brand-image img-rectangle elevation-3"></label>
  <ul>

    <li><a >Login
        <i class="fa fa-caret-down"></i>
      </a>
      <ul>
        <li><a routerLink="/">User </a></li>
        <li><a routerLink="/tlogin">Tenant </a></li>
        <li><a routerLink="/alogin">Academia </a></li>
        <li><a routerLink="/adminlogin">SuperAdmin </a></li>

      </ul>
    </li>
    <li><a> </a>
    </li>

  </ul>
</nav>