<div class="content-header">
    <br>
  <h3 class="ml-4 text-dark">Automation</h3>
  </div>
  <br><br>
  
  <div class="wrapp">
      <!-- Accordion Heading One -->
      <div class="parent-tab">
          <input type="radio" name="tab" id="tab-1" >
          <label for="tab-1">
            <span>	Black-Out Times</span>
            <div class="icon"><i class="nav-icon fa fa-plus"></i></div>
          </label>
    
          <div class="content">
    
              <div class="container">
               
  
                  <form action="#">
                    <div class="user-details">
                      <div class="input-box">
                        <span class="details">Blackout Time1 From</span>
                        <input type="text"  required>
                      </div>
                      <div class="input-box">
                        <span class="details"> Blackout Time1 To</span>
                        <input type="text"  required>
                      </div>
                      <div class="input-box">
                        <span class="details">	Blackout Time2 From</span>
                        <input type="text"  required>
                      </div>
                  
                      <div class="input-box">
                          <span class="details">Blackout Time2 To</span>
                          <input type="text"  required>
                        </div>
      
                        <div class="input-box">
                          <span class="details">Blackout Time3 From</span>
                          <input type="text"  required>
                        </div>
      
                        <div class="input-box">
                          <span class="details">	Blackout Time3 To</span>
                          <input type="text"  required>
                        </div>
         
                        <div class="input-box">
                        
                        </div>
      
                    <div class="button">
                      <input type="submit" value="Set">
                    </div>
                    </div>
                  </form>
                 
                
                  
                  
                </div>
         
          </div>
        </div>
  
      
  
      <!-- Accordion Heading Two -->
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-2">
        <label for="tab-2">
          <span>Schedule Irrigation</span>
          <div class="icon"><i class="fas fa-plus"></i></div>
        </label>
        <div class="content">
          
          <div class="container">
               
                
               
              <form action="#">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Switch Scheduling On</span>
                    <input  type="checkbox1" >
                  </div>
                  <div class="input-box">
                    <span class="details"> Job1 From</span>
                    <input type="text"  required>
                  </div>
                  <div class="input-box">
                    <span class="details">	Job1 To</span>
                    <input type="text"  required>
                  </div>
              
                  <div class="input-box">
                      <span class="details">Job2 From</span>
                      <input type="text"  required>
                    </div>
  
                    <div class="input-box">
                      <span class="details">Job2 To</span>
                      <input type="text"  required>
                    </div>
  
                    <div class="input-box">
                      <span class="details">Job3 From</span>
                      <input type="text"  required>
                    </div>
  
                    <div class="input-box">
                      <span class="details">Job3 To</span>
                      <input type="text"  required>
                    </div>
  
                    <div class="input-box">
                      <span class="details">Job4 From</span>
                      <input type="text"  required>
                    </div>
  
                    <div class="input-box">
                      <span class="details">Job4 To</span>
                      <input type="text"  required>
                    </div>
  
                  
     
  
                <div class="button">
                  <input type="submit" value="Set">
                </div>
                </div>
              </form>
             
            
              
              
            </div>
  
         
  
          <!-- end -->
        </div>
      </div>
  
      <!-- Accordion Heading Three -->
      <div class="parent-tab tab-3">
        <input type="radio" name="tab" id="tab-3">
        <label for="tab-3" class="tab-3">
          <span> Dry Alarm Irrigation</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
        
  
          
        
        <!-- end -->
        </div>
      </div>
  
      <!-- Accordion Heading Four -->
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-4">
        <label for="tab-4">
          <span>Ad Hoc Irrigation</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
        
       
       
  
          <!-- end -->
        </div>
      </div>
  
      <div class="parent-tab">
          <input type="radio" name="tab" id="tab-5">
          <label for="tab-5">
            <span>Intelligent Field Irrigation</span>
            <div class="icon"><i class="fa fa-plus"></i></div>
          </label>
          <div class="content">
  
            
              <div class="container">
               
                
               
                  <form action="#">
                    <div class="user-details">
                      <div class="input-box">
                        <span class="details">Interval (in minutes)</span>
                        <input type="text"  required>
                      </div>
                      <div class="input-box">
                        <span class="details"> Average Soil Humidity</span>
                        <input type="text"   required>
                      </div>
                      <div class="input-box">
                        <span class="details">	Check Rain Forecast</span>
                        <input type="text"  required>
                      </div>
                  
                      <div class="input-box">
                          <span class="details">Soil Humidity MIN</span>
                          <input type="text"  required>
                        </div>
      
                        <div class="input-box">
                          <span class="details">Rain Forecast tomorrow (mm/sq/h)</span>
                          <input type="text"  required>
                        </div>
      
                        <div class="input-box">
                          <span class="details">Soil Humidity MAX</span>
                          <input type="text"  required>
                        </div>
         
                        
                        <div class="input-box">
                          <span class="details">Irrigation Delay (mm/sq/h)</span>
                          <input type="text"  required>
                        </div>
  
                        
                        <div class="input-box">
                          <span class="details">ZIP</span>
                          <input type="text"  required>
                        </div>
  
                        
                        <div class="input-box">
                          <span class="details">Country</span>
                          <input type="text"  required>
                        </div>
                       
      
                    <div class="button">
                      <input type="submit" value="Set">
                    </div>
                    </div>
                  </form>
                 
                
                  
                  
                </div>
         
           
    <!-- end -->
          </div>
        </div>
  
  
        
    </div>