
<img src="https://tse3.mm.bing.net/th?id=OIP.dVwlrWtceVfxDfkZubCMfwHaDt&pid=Api&P=0&w=304&h=153" width="100%" height="250px" alt="Italian Trulli">

<br>
<div class="profile-card">
    <img src="https://yt3.ggpht.com/a/AATXAJxgMyqL9Ogxbj7x5N2TVHGhzkfsV57bwkjZaGRQ3Q=s900-c-k-c0xffffffff-no-rj-mo" alt="user" class="profile-photo" />
    <h5><a href="timeline.html" class="text-white">{{user.name}}</a></h5>
    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
</div><!--profile card ends-->

<div  class="content-wrapper">


    <div class="wrapper">
      <form [formGroup]="form">
        <div class="input-box">
          <div class="tweet-area">
            <!-- <span class="placeholder">What's happening?</span> -->
          <textarea style="width: 700px; height: 130px;" name="feed" placeholder="What's happening?"
          formControlName="feed" ></textarea>
         
            <!-- <div class="input editable" contenteditable="true" spellcheck="false"></div> -->
            <img [src]="imgURL" height="200" *ngIf="imgURL">
            <!-- <div class="input readonly" contenteditable="true" spellcheck="false"></div> -->
           
          </div>
          <div class="privacy">
            <i class="fas fa-globe-asia"></i>
            <span>Everyone can reply</span>
          </div>
        </div>
        <div class="bottom">
          <ul class="icons">
            <!-- (change)="preview(file.files)" -->
            <li > <i class="uil uil-capture" ></i></li>
            <input #file type="file"   (click)="compressFile($event)" name="image"
            formControlName="image" />    
            <!-- <li><i class="far fa-file-image"></i></li> -->
            <li><i class="fas fa-map-marker-alt"></i>
            
            </li>
            <!-- <li><i class="far fa-grin"></i></li>
            <li><i class="far fa-user"></i></li> -->
          </ul>
          <div >
          
            <button (click)="onPost()">Post</button>
          </div>
        </div>
        </form>
      </div> 
     
<br>
<br>

    <div  class="card " *ngFor ="let card of feedDetails" >
        <!-- <div class="user-panel mt-1  mb-1 d-flex">
            <div class="image">
              <img src="https://yt3.ggpht.com/a/AATXAJxgMyqL9Ogxbj7x5N2TVHGhzkfsV57bwkjZaGRQ3Q=s900-c-k-c0xffffffff-no-rj-mo" class="img-circle elevation-2">
            </div>
            <h5 class="card-title ml-3"><b>Narendar</b></h5><br>
           
          </div> -->
          <div class="header__left">
            <a href="#">
              <img src="https://tse3.mm.bing.net/th?id=OIP.dVwlrWtceVfxDfkZubCMfwHaDt&pid=Api&P=0&w=304&h=153"  class="post__author-pic ml-2 mt-2" />
            </a>
            <div class="post__author author box">
              <span class="author__name">
                <a > {{card.user_name}}</a>
              </span>
              <i class="author__verified"></i>
            	<div class="card-tools">
                <div class="more-post-optns"><i  class="fa fa-align-justify"></i>
                  <ul>
                    <li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
                    <li (click)="deletePost(card)"><i class="fa fa-trash-o"></i>Delete Post</li>
                    <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
                   
                    <!-- <li><i class="fa fa-clock-o"></i>Schedule Post</li>
                    <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
                    <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li> -->
                  </ul>
                </div>
              </div>
</div>
            
            <span class="post__date">
              <a href="#">March 13, 2021</a>
            </span>
         
            <span class="post__date-privacy-separator">&nbsp;·</span>
            <i class="post__privacy"></i>
       </div>

    
        <br>
        <p class="card-text ml-4">{{card.feed}}</p>
 
        <img class="card-img-top" *ngIf="card.image != ''" src="{{card.image}}" style="height: 450px;  display:block"  class="ml-4 mr-4 mt-2"  alt="image">

        <div class="card-body">
            <div class="box">
           <span><i class="fa fa-thumbs-up ml-4" > 23</i></span>
           <div class="tools">
           <span> <i class="fa fa-comment" aria-hidden="true"> 1K Comments</i></span></div></div>
<br>
       <hr>
       <div class="box" >
        <button  style="width: 290px;" class="btn btn-primary"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
        <button style="width: 290px; margin-left: 3px;" (click)="toggleTag()" class="btn btn-primary"><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>
        <button style="width: 290px; margin-left: 3px;"   class="btn btn-primary"><i class="fa fa-share" aria-hidden="true"></i> Share</button>
    </div>
       

            <div class="box" *ngIf="showMe" >
                <div class="input-group">
                   
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append"> <button type="submit" class="btn btn-primary">Send</button> </span>
                    
                  </div>
            </div>
        </div>
      </div>

<br>
    
     

      

</div>



<!-- 
  <div class="reactions__comment-shares">
    <span class="comment-shares__comments"
      ><a href="#">50K Comments</a></span
    >
    <span class="comment-shares__shares"
      ><a href="#">5.4K Shares</a></span
    >
  </div> -->






<!-- 
  <input type="file" (change)="onFileSelected($event)" />
<br /><br />
base64 Output : <br />
{{base64Output}} -->




<!-- <div>
  <button (click)="compressFile($event)">Upload and compress Image</button>
  <img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="">
  <img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="">
</div>
{{imgResultAfterCompress}} -->