<div class="content-header">
<h3 class="ml-4 text-dark">Visualization</h3>
</div>
<br>

<div class="row ml-2" >
  <div class="col-md-6">
 
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Sensors Plant</h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
      
      

          <canvas id="canvas" style="height: 400;">
            <!-- your chart will be generated here! -->
          </canvas>
         
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>
  
  </div>

  <div class="col-md-6">
  
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Sensors by ZIP
        </h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
      
        <canvas id="myChart" style="height: 400;">
          <!-- your chart will be generated here! -->
        </canvas>


        
   

        <!-- Contacts are loaded here -->
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>
   
  </div>


  <div class="col-md-6">
 
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Weather Warning
        </h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
      
       
        
        


         
       <img src="../../assets/new.png" style="width: 600px;">
         

       
  

        <!-- Contacts are loaded here -->
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>
   
  </div>



  <div class="col-md-6">
    
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Irrigation Chart
        </h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
 
       
          <!-- Message to the right -->
       <img src="../../assets/cross.png" style="width: 600px;">
        
        
       
        <!-- Contacts are loaded here -->
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>
  
  </div>




  <div class="col-md-6">
   
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Sensors by ZIP
        </h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

    
            
       <img src="../../assets/graph1.png" style="width: 600px;">
         
    
      

        <!-- Contacts are loaded here -->
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>
 
  </div>



  <div class="col-md-6">
  
    <div class="card direct-chat direct-chat-warning">
      <div class="card-header">
        <h3 class="card-title">Sensors by ZIP
        </h3>

        <div class="card-tools">
        
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
         
         
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
       
       
   
       <img src="../../assets/pie.png" style="width: 500px;">

        

        <!-- Contacts are loaded here -->
       
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
    
      </div>
      <!-- /.card-footer-->
    </div>

  </div>
  </div>