
<br><br>

<div class="container ">
    
    <div class="content">
      <form action="#">
        <div class="user-details">
    
      
      <h4 style="background-color: #eee; width: 100%;">GPS Tracker</h4>
      <hr class="style1">
      <br><br>

      <div class="input-box">
        <span class="details">Sensor ID</span>
        <input type="text" value="12" required>
      </div>
      <div class="input-box">
        <span class="details">Sensor Name</span>
        <input type="text" value="sensor 1" required>
      </div>
      <div class="input-box">
        <span class="details">Device </span>
        <input type="text"  value="GPS Tracker" required>
      </div>
    
      <div class="input-box">
        <span class="details">Last Measurement</span>
        <input type="text"  value="4/15/2021, 4:00 AM"   required>
      </div>
     
      <div class="input-box">
        <span class="details">Sensor Coordinates</span>
        <input type="text"  value="44.65.1234.3"  required>
      </div>

      <div class="input-box">
        <span class="details">GPS Roll(in degree)</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        <span class="details">GPS Tracker Interval(in minutes)</span>
        <input type="text" value="4"  required>
      </div>


      <div class="input-box">
        <span class="details">GPS Pitch(in degree)</span>
        <input type="text" value="1"  required>
      </div>

      <div class="input-box">
        <span class="details">GPS Alarm</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        
      </div>

      
      
        </div>
      </form>
    </div>
  </div>
