<div class="container ">
    
    <div class="content">
      <form action="#">
        <div class="user-details">
      
      <h4 style="background-color: #eee; width: 100%;">	Weather Station</h4>
      <hr class="style1">
      <br><br>

      <div class="input-box">
        <span class="details">Sensor ID</span>
        <input type="text" value="12" required>
      </div>
      <div class="input-box">
        <span class="details">Sensor Name</span>
        <input type="text" value="sensor 1" required>
      </div>
      <div class="input-box">
        <span class="details">Device </span>
        <input type="text"  value="Weather Sensor" required>
      </div>
    

      
      <div class="input-box">
        <span class="details">Last Measurement</span>
        <input type="text"   value=" 4/15/2021, 4:00 AM "required>
      </div>
      <div class="input-box">
        <span class="details">Weather Station Name</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        <span class="details">Barometric Pressure (in Inch)</span>
        <input type="text" value="11" required>
      </div>

      <div class="input-box">
        <span class="details">Air Temperature</span>
        <input type="text" value="22" required>
      </div>


      <div class="input-box">
        <span class="details">Humidity</span>
        <input type="text" value="9" required>
      </div>

      <div class="input-box">
        <span class="details">Hourly ETo</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        <span class="details">Hourly ETo</span>
        <input type="text" required>
      </div>


      <div class="input-box">
        <span class="details">Max Gust</span>
        <input type="text" required>
      </div>


      <div class="input-box">
        <span class="details">Rain</span>
        <input type="text" value="2.2" required>
      </div>

      <div class="input-box">
        <span class="details">Solar Radiation</span>
        <input type="text" required>
      </div>

      <div class="input-box">
        <span class="details">Wind Direction</span>
        <input type="text" value="west" required>
      </div>

      <div class="input-box">
        <span class="details">Wind Speed</span>
        <input type="text" value="14" required>
      </div>

      <div class="input-box">
        <span class="details">Date Time</span>
        <input type="text" required>
      </div>
      
       
        </div>
      </form>
    </div>
  </div>
