<div class="container">

    <h4 style="background-color:#eee;">Information</h4>
    <div class="content">
      <form >
        <div class="user-details">


          <div class="input-box">
            <span class="details">*Plant-Name</span>
           <span>{{userObj.name}}</span>
            
          </div>
         

          <h4 style="background-color:#eee;width: 850px;">Measurement Specifics</h4>

          <div class="input-box">
            <span class="details">Soil Humidity MIN</span>
            <span>{{userObj.soil_humidity_min}}</span>
          </div>

          <div class="input-box">
            <span class="details">Soil Humidity MAX</span>
            <span>{{userObj.soil_humidity_max}}</span>
          </div>


          <div class="input-box">
            <span class="details">Soil Temp MIN</span>
            <span>{{userObj.soil_temp_min}}</span>
          </div>

          <div class="input-box">
            <span class="details">Soil Temp MAX</span>
            <span>{{userObj.soil_temp_max}}</span>
          </div>


          <div class="input-box">
            <span class="details">Air Humidity Min</span>
            <span>{{userObj.air_humidity_min}}</span>
          </div>

          <div class="input-box">
            <span class="details">Air Humidity Max</span>
            <span>{{userObj.air_humidity_max}}</span>
          </div>

          <div class="input-box">
            <span class="details">EC MIN</span>
            <span>{{userObj.ec_min}}</span>
          </div>

          <div class="input-box">
            <span class="details">EC MAX
            </span>
            <span>{{userObj.ec_max}}</span>
          </div>

          <div class="input-box">
            <span class="details">
              Air Temp MAX</span>
              <span>{{userObj.air_temp_max}}</span>
          </div>

          <div class="input-box">
            <span class="details">
              Air Temp MIN</span>
              <span>{{userObj.air_temp_min}}</span>
          </div>


          <div class="input-box">
            <span class="details">

              Fertilization Intervall (days)</span>
              <span>{{userObj.fertilization_interval}}</span>
          </div>



          <h4 style="background-color:#eee;width: 850px;"> Seasons </h4>


          <div class="input-box">
            <span class="details">Spring start</span>
            <span>{{userObj.spring_start}}</span>
          </div>

          <div class="input-box">
            <span class="details">
              Autumn start</span>
              <span>{{userObj.autumn_start}}</span>
          </div>


          <div class="input-box">
            <span class="details">Spring end</span>
            <span>{{userObj.spring_end}}</span>
          </div>

          <div class="input-box">
            <span class="details">Autumn end</span>
            <span>{{userObj.autumn_end}}</span>
          </div>


          <div class="input-box">
            <span class="details">Summer start</span>
            <span>{{userObj.summer_start}}</span>
          </div>

          <div class="input-box">
            <span class="details">Winter start</span>
            <span>{{userObj.winter_start}}</span>
          </div>

          <div class="input-box">
            <span class="details">Summer end</span>
            <span>{{userObj.summer_end}}</span>
          </div>

          <div class="input-box">
            <span class="details">Winter end
            </span>
            <span>{{userObj.winter_end}}</span>
          </div>


          <!-- <div class="button">
            <input type="submit" (click)="onAddSubmit()" value="Add">
            <input type="submit" (click)="updateTen()" *ngIf="isEdit" value="update">
          </div> -->
        </div>
      </form>
    </div>
  </div>