<div class="content-header">
    <h3 class="ml-4 text-dark"> Tenant Profile </h3>
  </div>
  <br>
  <br>
  
  
  <!-- Profile Image -->
  <div class="card card-primary card-outline ml-5 mr-5">
    <div class="card-body ">
      <div class="float-right d-none d-sm-inline-block">
        <button type="button" class="btn btn-primary">Edit <i class="fa fa-pencil"></i></button>
      </div>
  
      <div class="text-center">
        <img class="profile-user-img img-fluid img-circle ml-5" src="../../../assets/user2.jpg"
          alt="User profile picture">
      </div>
      <br>
  
  
      <p class="text-muted text-center">Tenant</p>
  
      <ul class="list-group list-group-unbordered mb-3">
        <li class="list-group-item">
          <b>Name</b> <a class="float-right">Ankit Rai</a>
        </li>
        <li class="list-group-item">
          <b>Email </b> <a class="float-right">ankit@gmail.com</a>
        </li>
        <li class="list-group-item">
          <b>Contact</b> <a class="float-right">8285698597</a>
        </li>
      </ul>
  
  
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->