<br>
<div class="content-header">
      
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6">
            <h3 class="m-0 text-dark"> Dashboard </h3>
            <br><br>
          
          </div>

        </div>
    
 
        <!-- Main row -->
        
          <!-- Left col -->


            <!-- /.card -->
            <div class="row">


            <!-- TABLE: LATEST ORDERS -->
   
              <div class="col-md-4">
              
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <h3 class="card-title">
                   Tenant
                    </h3>
      
                    <div class="card-tools">
                    
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                     
                     
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body ">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" style="margin-left: 100px;" >
                    
                    <!-- <p> Total Tenant Members<strong>  : 6</strong></p>
                    <p class="badge bg-success"> Active<strong> : 3</strong></p><br>
                    <p class="badge bg-warning">Non-Active<strong>:   3</strong></p> -->
                    </div>
      
                    <!--/.direct-chat-messages-->
      
                    <!-- Contacts are loaded here -->
                   
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                
                  </div>
                  <!-- /.card-footer-->
                </div>
              
              </div>


              <div class="col-md-4">
              
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <h3 class="card-title">Academia
                    </h3>
  
                    <div class="card-tools">
                    
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                     
                     
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body" style="margin-left: 100px;" >
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                     
                      <!-- <p> Total Academia Members<strong>  : 5</strong></p>
                      <p class="badge bg-success "> Active<strong> : 3</strong></p><br>
                      <p class="badge bg-warning">Non-Active<strong>:   2</strong></p> -->
                    </div>
                    <!--/.direct-chat-messages-->
  
                    <!-- Contacts are loaded here -->
                   
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                
                  </div>
                  <!-- /.card-footer-->
                </div>
            
              </div>
              <!-- /.col -->
              <div class="col-md-4">
              
                
            
              </div>


            

            <!-- /.col -->
</div>
            <!-- TABLE: LATEST ORDERS -->
           
         

         
  
    
       
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>