
 <div class="content-header">

    <h3 class="ml-4 text-dark">Sensor  </h3>
    </div>
    <br>

    
   
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Sensor</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="refresh()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="justify-content: center;">
          <div class="container">
  
            <h4 style="background-color: #eee;">&nbsp; Sensor </h4>
            <div class="content">
              <form  [formGroup]="form">
                <div class="user-details">

                  <div class="input-box">
                    <span class="details">* Sensor Type</span>
                    <select name="plant_name" class="form-control" formControlName="sensor_type" (change)="showField($event)" name="sensor_type"  
                    [ngClass]=  "  { 'is-invalid': form.get('sensor_type').touched && form.get('sensor_type').invalid}" style="width: 100%;">
                        <option value="">---Select---</option>
                      <option value="{{sensor.sensor_type}}" *ngFor = "let sensor of sensorType">{{sensor.sensor_type}} </option>
                 
                    </select>
                    <div class="invalid-feedback">
                      <div> This field is required</div>
                    </div>
                  </div>

                  <div class="input-box">
                    <span class="details">* Plant Name</span>
                    <select class="form-control" aria-placeholder="Enter Plant Name" formControlName="plant_name"  name="plant_name" 
                    [ngClass]=  "  { 'is-invalid': form.get('plant_name').touched && form.get('plant_name').invalid}" 
                     style="width: 100%;">
                        <option value="">---Select--- </option>
                      <option value="{{plant.name}}" *ngFor = "let plant of plantDetails ">{{plant.name}} </option>
                 
                    </select>
                    <div class="invalid-feedback">
                      <div> This field is required</div>
                    </div>
                  </div>

                  <div class="input-box">
                    <span class="details">* Sensor Name</span>
                    <input type="text" required name="name" placeholder="Enter Sensor Name"  formControlName="name" [ngClass]="
                    { 'is-invalid': form.get('name').touched && form.get('name').invalid}">
                    <div class="invalid-feedback">
                      <div> This field is required</div>
                    </div>
                  </div>
                 
               

                  <div class="input-box">
                    <span class="details">* Interval Moist Sensor (minutes)</span>
                    <input type="text" required name="interval"  placeholder="Enter Interval Time" formControlName="interval" [ngClass]="
                    { 'is-invalid': form.get('interval').touched && form.get('interval').invalid}">
                    <div class="invalid-feedback">
                      <div> This field is required</div>
                    </div>
                  </div>

  
                  <div class="input-box"  >
                    <span class="details">Latitude</span>
                    <input type="number"  name="latitude"  placeholder="Enter Latitude"  formControlName="latitude"  [ngClass]="
                    { 'is-invalid': form.get('latitude').touched && form.get('latitude').invalid}" style="width: 300px;">
                  
                  </div>

                  <div class="input-box"  >
                    <span class="details">Longitude</span>
                    <input type="number"  name="longitude" placeholder="Enter Longitude" formControlName="longitude" [ngClass]="
                    { 'is-invalid': form.get('longitude').touched && form.get('longitude').invalid}" style="width: 300px;" >
                   
                  </div>

    
                  <div class="form-group">
                    <label for="exampleInputFile">* End Point URL</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="url"  name="url"  placeholder="Enter End Point URl" formControlName="url" class="form-control" [ngClass]="
                        { 'is-invalid': form.get('url').touched && form.get('url').invalid}" style="width: 300px;">
                       
                      </div>
                      <div class="invalid-feedback">
                        <div> This field is required</div>
                      </div>
                      <button class="btn btn-primary" style="background-color: #255ad9;" [disabled]="isLoading" (click)="toggleLoading()">
                        <img *ngIf="isLoading" style="width : 24px" src="../../../assets/image/Rolling-1s-200px.gif" />
                        Test 
                      </button>
                     
                    </div>
                 
                  </div>


                  <div class="input-box"  > 
                  </div>

                  <div class="input-box"  > 
                  </div>

                 
                  <div class="button">
                    <input type="submit" (click)="onAddSubmit()"  value="Add">
                   
                  </div>
                </div>
              </form>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>

  </div>
 
   
   <div class="col-md-12">
   <div class="card">
   <div class="card-header">
    <h3 class="card-title"></h3>
   
    <div class="searchbox" >
   
     <div class="dropdown show">
       <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-filter" aria-hidden="true"></i>
       </a>
     
       <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="AllData()">All</a>
        <a class="dropdown-item" (click)="ActiveTab()">Active</a>
        <a class="dropdown-item" (click)="InActiveTab()">Inactive</a>
       </div>
     </div>
   
      <div class="search_wrap search_wrap_1">
        <div class="search_box"style="margin-left: 16px;">
          <input type="text" class="input" placeholder="search...">
          <div class="btn btn_common">
            <i  class="fas fa-search"></i>
          </div>
        </div>
      </div>
     </div>
   <div class="card-tools">
          <button type="button" data-toggle="modal" *ngIf="parent"   data-target=".bd-example-modal-lg"
            class="btn btn-primary">Add Sensor </button>
        </div>
   </div>
   
   
   <div class="card-body p-0">
     <div style="overflow-x:auto;">
    <table class="table"  >
      <thead>
        <tr>
          <th scope="col"  >Id <i class="fa fa-sort"></i></th>
          <th scope="col" >Sensor Name <i class="fa fa-sort"></i></th>
          <th scope="col">Type <i class="fa fa-sort"></i></th>
          <th scope="col">Plant Type <i class="fa fa-sort"></i></th>
         
          <th scope="col">Date <i class="fa fa-sort"></i></th>
          <th scope="col">status <i class="fa fa-sort"></i></th>
          <th scope="col">Notification <i class="fa fa-sort"></i></th>
          <th scope="col" *ngIf="parent" >Action </th>
          
          <th scope="col" *ngIf="editParent" >Action </th>
        </tr>
      </thead>

      <tbody *ngIf="active" >
        <tr *ngFor="let sens of activeDetails |  paginate: { itemsPerPage: count, currentPage: p } ; index as no">
   
      <td >{{no+1}}</td>
      <td>{{sens.name}}</td>
      <td>{{sens.sensor_type}}</td>
      <td>{{sens.plant_name}}</td>
      <td><span >{{sens.created_at}}</span></td>
      <td><span class="badge bg-success">{{sens.status}}</span></td>
      <td>
        <input (click)="pushNotification($event,sens)" type="checkbox" [checked]="checks">
      </td>
      <td>   
        <ul class="list-inline m-0">
      
          <li class="list-inline-item">
            <button class="btn text-warning btn-sm rounded-0"  type="button"
              data-toggle="tooltip" data-toggle="modal" *ngIf="parent" data-target=".bd-edit-modal-lg" data-placement="top" (click)="editSens(sens)"
              title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <li class="list-inline-item" *ngIf="editParent" >
            <button class="btn text-warning btn-sm rounded-0"  type="button"
              data-toggle="tooltip" data-toggle="modal" data-target=".bd-edit-modal-lg" data-placement="top" (click)="editSens(sens)"
              title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
              <button class="btn text-danger btn-sm rounded-0" 
              (click)="deleteSensor(sens)"
              *ngIf="parent" 
           
               type="button" data-toggle="tooltip"
              
                data-placement="top" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
          </li>
      </ul>
    </td>
      </tr>
      

      
      </tbody>

      <tbody *ngIf="allMember">
        <tr *ngFor="let sens of sensorDetails |  paginate: { itemsPerPage: count, currentPage: p } ; index as no">
   
      <td >{{no+1}}</td>
      <td>{{sens.name}}</td>
      <td>{{sens.sensor_type}}</td>
      <td>{{sens.plant_name}}</td>
      <td><span >{{sens.created_at}}</span></td>
      <td class="status"><span class="badge"
        [ngClass]="{'badge-success': sens.status =='Active', 'badge-danger' : sens.status =='Inactive'}">{{sens.status}}</span>
    </td>
      <td>
        <input (click)="pushNotification($event,sens)" type="checkbox" [checked]="checks">
      </td>
      <td>   
        <ul class="list-inline m-0">
      
          <li class="list-inline-item">
            <button class="btn text-warning btn-sm rounded-0"  type="button"
              data-toggle="tooltip" data-toggle="modal" *ngIf="parent" data-target=".bd-edit-modal-lg" data-placement="top" (click)="editSens(sens)"
              title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <li class="list-inline-item" *ngIf="editParent" >
            <button class="btn text-warning btn-sm rounded-0"  type="button"
              data-toggle="tooltip" data-toggle="modal" data-target=".bd-edit-modal-lg" data-placement="top" (click)="editSens(sens)"
              title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
              <button class="btn text-danger btn-sm rounded-0" 
              (click)="deleteSensor(sens.id)"
              *ngIf="parent" 
           
               type="button" data-toggle="tooltip"
              
                data-placement="top" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
          </li>
      </ul>
    </td>
      </tr>
      

      
      </tbody>



      <tbody *ngIf="Inactive" >
        <tr *ngFor="let sens of InactiveDetail |  paginate: { itemsPerPage: count, currentPage: p } ; index as no">
   
      <td >{{no+1}}</td>
      <td>{{sens.name}}</td>
      <td>{{sens.sensor_type}}</td>
      <td>{{sens.plant_name}}</td>
   
      <td><span >{{sens.created_at}}</span></td>
      <td><span class="badge badge-danger">{{sens.status}}</span></td>
      <td>
        <input (click)="pushNotification($event,sens)" type="checkbox" [checked]="checks">
      </td>
      <td>   
        <ul class="list-inline m-0">
      
          <li class="list-inline-item">

            <button class="btn btn-warning btn-sm rounded-0" *ngIf="parent"  type="button" data-toggle="tooltip"
              data-toggle="modal" data-target=".bd-lg" data-placement="top" (click)="activateSensor(sens)"
              title="Edit">Activate</button>
          </li>

          <li class="list-inline-item">

            <button class="btn btn-warning btn-sm rounded-0" *ngIf="editParent"  type="button" data-toggle="tooltip"
              data-toggle="modal" data-target=".bd-lg" data-placement="top" (click)="activateSensor(sens)"
              title="Edit">Activate</button>
          </li>

        
      </ul>
    </td>
      </tr>
      

      
      </tbody>

 
    </table>
    </div>
   </div>
   <!-- /.card-body -->
   <div class="card-footer text-center">
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
   </div>
   </div>
   <!-- /.card -->
   
   

   
   <div class="modal fade bd-edit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title">Edit Sensor</h4>
         <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div style="justify-content: center;">
         <div class="container">
 
           <h4 style="background-color: #eee;">&nbsp; Sensor </h4>
           <div class="content">
             <form  >
               <div class="user-details">

                 <div class="input-box">
                   <span class="details">* Sensor Type</span>
                   <select name="plant_name" class="form-control"  name="sensor_type" [(ngModel)]="userObj.sensor_type" 
                    style="width: 100%;">
                       <option value="">---Select---</option>
                     <option value="{{sensor.sensor_type}}" *ngFor = "let sensor of sensorType">{{sensor.sensor_type}} </option>
                
                   </select>
                  
                 </div>

                 <div class="input-box">
                   <span class="details">* Plant Name</span>
                   <select class="form-control"   name="plant_name" aria-placeholder="Enter Plant Name" [(ngModel)]="userObj.plant_name" 
 style="width: 100%;">
                       <option value="">---Select--- </option>
                     <option value="{{plant.name}}" *ngFor = "let plant of plantDetails ">{{plant.name}} </option>
                
                   </select>
                  
                 </div>

                 <div class="input-box">
                   <span class="details">* Sensor Name</span>
                   <input type="text" required name="name" placeholder="Enter Sensor Name" [(ngModel)]="userObj.name" >
                   
                 </div>
                
              

                 <div class="input-box">
                   <span class="details">* Interval Moist Sensor (minutes)</span>
                   <input type="text" required name="interval" placeholder="Enter Interval Time"  [(ngModel)]="userObj.interval_moist_sensor" >
                  
                 </div>

             


                 <div class="input-box"  >
                   <span class="details">Latitude</span>
                   <input type="number"  name="latitude" placeholder="Enter Latitude"  [(ngModel)]="userObj.latitude" >
                 
                 </div>

                 <div class="input-box"  >
                   <span class="details">Longitude</span>
                   <input type="number"  name="longitude" placeholder="Enter Longitude" [(ngModel)]="userObj.longitude"  >
                  
                 </div>

   
                 <div class="form-group">
                   <label for="exampleInputFile">* End Point URL</label>
                   <div class="input-group">
                     <div class="custom-file">
                       <input type="url"  name="url"  placeholder="Enter End Point URl"  [(ngModel)]="userObj.url"  class="form-control" >
                      
                     </div>
                    
                     <button class="btn btn-primary" [disabled]="isLoading" (click)="toggleLoading()">
                       <img *ngIf="isLoading" style="width : 24px" src="../../../assets/icons8-spinner.gif" />
                       Test 
                     </button>
                    
                   </div>
                
                 </div>

   
                   
                 <div class="button">
                  
                   <input type="submit" (click)="updateSens()"  value="Update">
                 </div>
               </div>
             </form>
           </div>
         </div>
 
 
       </div>
     </div>
   </div>

 </div>








  