
<div class="wrapper ">
<app-header></app-header>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a  class="brand-link">
     <br>
      <span class="brand-text font-weight-light"> </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         
          <li class="nav-item has-treeview menu-open">

            <ul class="nav nav-treeview">
             
              <li class="nav-item">
                <a routerLink ="dashboad"  class="nav-link ">
                  <i class="nav-icon fa fa-home"></i>
                  <p>Home </p>
                </a>
              </li>
            
            </ul>

            <li class="nav-item has-treeview">
              <a  routerLink ="profile"  class="nav-link">
                <i class="nav-icon fa fa-user"></i>
                <p>
                  Profile
               
                </p>
              </a>
          
          </li>

            <li class="nav-item has-treeview">
              <a  routerLink ="tenant"   class="nav-link">
                <i class="nav-icon fa fa-lock"></i>
                <p>
                  Tenant
               
                </p>
              </a>
          
          </li>

    

          <li class="nav-item has-treeview">
            <a   routerLink ="users"   class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Users
             
              </p>
            </a>
        
        </li>
          <li class="nav-item">
            <a  routerLink ="measurement"  class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
                Measurement
              
              </p>
            </a>

          </li>
          <li class="nav-item has-treeview">
            <a  routerLink ="sensors" class="nav-link">
              <i class="nav-icon fa fa-bullseye"></i>
              <p>
                Sensors
             
              </p>
            </a>
        
          </li>

       

          <li class="nav-item has-treeview">
            <a routerLink ="irrigation" class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
               Irrigation
              
              </p>
            </a>
           
          </li>

          <li class="nav-item has-treeview">
            <a  routerLink ="plant" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
               Plants
             
              </p>
            </a>
           
          </li>
        
          <li class="nav-item has-treeview">
            <a routerLink ="visualization" class="nav-link">
              <i class="nav-icon fa fa-chart-pie"></i>
              <p>
                 Visualization
             
              </p>
            </a>
          
          </li>
          <li class="nav-item has-treeview">
            <a routerLink ="automation" class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
               Automation
                
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a routerLink ="notifications" class="nav-link">
              <i class="nav-icon fa fa-bell"></i>
              <p>
             
                Notifications
               
              </p>
            </a>
          
          </li>
         
          <li class="nav-item has-treeview">
            <a routerLink ="social" class="nav-link">
              <i class="nav-icon fa fa-certificate"></i>
              <p>
              Social 
               
              </p>
            </a>
          
          </li>
      
        
          <li class="nav-item has-treeview">
            <a routerLink ="contact" class="nav-link">
              <i class="nav-icon fa fa-envelope"></i>
              <p>
                Contact
              
              </p>
            </a>
           
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper"> 
  <router-outlet></router-outlet>

    </div> 
  <!-- /.content-wrapper -->




  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
   
    
  </aside>
  <!-- /.control-sidebar -->

  
 
   
<app-footer></app-footer>

  <!-- Main Footer -->

</div>
<!-- ./wrapper -->