<div class="content-header">
    <br>
    <h3 class="ml-4 text-dark">Notification</h3>
  </div>
  <br><br>
  
  <div class="wrapper">
    <!-- Accordion Heading One -->
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-1" checked>
      <label for="tab-1">
        <span>Sensors</span>
        <div class="icon"><i class="nav-icon fa fa-plus"></i></div>
      </label>
  
      <div class="content">
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-window-maximize" aria-hidden="true"> Push</i></p>
        </div>
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-envelope" aria-hidden="true"> Email</i></p>
        </div>
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class=" fa fa-comments"> SMS</i></p>
        </div>
      </div>
  
  
    </div>
  
    <!-- Accordion Heading Two -->
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-2">
      <label for="tab-2">
        <span>Irrigation Action</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
  
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round "></span>
            </label>
          </div>
          <p><i class="fa fa-window-maximize" aria-hidden="true"> Push</i></p>
        </div>
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch ">
              <input type="checkbox">
              <span class="slider round "></span>
            </label>
          </div>
          <p><i class="fa fa-envelope" aria-hidden="true"> Email</i></p>
        </div>
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round "></span>
            </label>
          </div>
          <p><i class=" fa fa-comments"> SMS</i></p>
        </div>
  
  
        <!-- end -->
      </div>
    </div>
  
    <!-- Accordion Heading Three -->
    <div class="parent-tab ">
      <input type="radio" name="tab" id="tab-3">
      <label for="tab-3" class="tab-3">
        <span>Measurement</span>
        <div class="icon"><i class="fa fa-plus"></i></div>
      </label>
      <div class="content">
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-window-maximize" aria-hidden="true"> Push</i></p>
        </div>
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-envelope" aria-hidden="true"> Email</i></p>
        </div>
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class=" fa fa-comments"> SMS</i></p>
        </div>
        <!-- end -->
      </div>
    </div>
  
    <!-- Accordion Heading Four -->
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-4">
      <label for="tab-4">
        <span>Plant</span>
        <div class="icon"><i class="fa fa-plus"></i></div>
      </label>
      <div class="content">
  
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-window-maximize" aria-hidden="true"> Push</i></p>
        </div>
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-envelope" aria-hidden="true"> Email</i></p>
        </div>
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class=" fa fa-comments"> SMS</i></p>
        </div>
  
        <!-- end -->
      </div>
    </div>
  
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-5">
      <label for="tab-5">
        <span>Visualization</span>
        <div class="icon"><i class="fa fa-plus"></i></div>
      </label>
      <div class="content">
  
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-window-maximize" aria-hidden="true"> Push</i></p>
        </div>
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class="fa fa-envelope" aria-hidden="true"> Email</i></p>
        </div>
  
        <div class="card-header">
          <div class="float-right d-none d-sm-inline-block">
            <label style="background-color: white;" class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <p><i class=" fa fa-comments"> SMS</i></p>
        </div>
  
        <!-- end -->
      </div>
    </div>